@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #fadadd;
  color: #000;
  font-family: 'Patrick Hand', cursive, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
